.abus_main__top_block{
	
	.abus_block__img_block{
		background-image: none;
		background-color: #fff;
		text-align: center;

		.abus_block__img_block__item__img{
			border-color: #7fbbdf;
			svg{
				    width: 76%;
			    position: absolute;
			    top: 10px;
			    fill: #0077c0;
				transition: fill 0.5s ease;
				    left: 19px;
			}
		}
		.abus_block__img_block__item__img--quostil{
			svg{
				top:0px;
			}
		}
		.abus_block__img_block__item__img--quostil2{
			svg{
				    width: 49%;
			    top: 34px;
			    left: 44px;
			}
		}
		&:after{
			display: none;
		}

		.abus_block__img_block__item a{
			.abus_block__img_block__item__text{
				transition: color 0.5s ease;
			}

			&:hover{
				.abus_block__img_block__item__text{
					color: #0077c0;
					text-decoration: underline;
				}
				svg{
					fill: #fff;
				}
			}
		}
	}
}

.abus_main__block_1{
	min-height: 680px;
	box-sizing: border-box;
	background-color: #0077c0;
	display: flex;
	position: relative;

	&:after{
		display: inline-block;
	    content: "";
	    position: absolute;
	    width: 70%;
	    bottom: 0;
	    left: 0;
	    z-index: 15;
	    border-bottom: 50px solid #fff;
	    border-right: 50px solid transparent;
	}
	&:before{
		display: inline-block;
	    content: "";
	    position: absolute;
	    width: 70%;
	    top: 0;
	    right: 0;
	    z-index: 15;
	    border-top: 50px solid #fff;
	    border-left: 50px solid transparent;
	}
}
.abus_main__block_1__left__pre_text{
	font-size: 20px;
	margin: 10px 0 30px 0;
	font-family: 'helvetica_light';
}
.abus_main__block_1__left__text{
	font-size: 16px;
	font-family: 'helvetica_light';
}
.abus_main__block_1__left{
	padding: 100px 0;
	padding-left: 17%;
    box-sizing: border-box;
    padding-right: 7%;
    max-height: 690px;
    overflow: hidden;
}
.abus_main__block_1__left,
.abus_main__block_1__right{
	width: 50%;
}
.abus_main__block_1__right{
	background-image: url("../img/abus_main_bg.jpg");
}


.abus_main__block_2__item{
	display: flex;
	margin: 40px 0;

	&:nth-child(even){
		.abus_main__block_2__item__image{
			order: 1;
		}
	}	
}
.abus_main__block_2__item__text,
.abus_main__block_2__item__image{
	width: 50%;
}
.abus_main__block_2__item__text__title{
	font-weight: bold;
	font-size: 24px;
	font-family: 'helvetica';
	padding: 16px 0;
}
.abus_main__block_2__item__text__text{
	font-size: 16px;
	font-family: 'helvetica_light';
	line-height: 26px;
	margin: 20px 0;
	font-weight: bold;

	ul{
		padding: 0;
		list-style-position: inside;

		li{
			color: #0077c0;

			span{
				color: #000;
			}
		}
	}
}

.abus_main__block_3{
	background-color: #e8ebef;
	padding: 110px 0;
	position: relative;

	&:after{
		display: inline-block;
	    content: "";
	    position: absolute;
	    width: 70%;
	    bottom: 0;
	    left: 0;
	    z-index: 15;
	    border-bottom: 50px solid #fff;
	    border-right: 50px solid transparent;
	}
	&:before{
		display: inline-block;
	    content: "";
	    position: absolute;
	    width: 70%;
	    top: 0;
	    right: 0;
	    z-index: 15;
	    border-top: 50px solid #fff;
	    border-left: 50px solid transparent;
	}
}
.abus_main__block_3__wrapper{
	padding: 0 5% !important;
	box-sizing: border-box;
}
.contact_us_block_1__content_block__history__item{
	position: relative;
	display: flex;
	margin: 70px 0;

	&:nth-child(even){
		.contact_us_block_1__content_block__history__text{
			order: 1;
		}
	}
	&:nth-child(even){
		.contact_us_block_1__content_block__history__image{
			order: 2;
		}
	}	
}
.contact_us_block_1__content_block__history__image,
.contact_us_block_1__content_block__history__text{
	width: 50%;
}
.contact_us_block_1__content_block__history__image__img_1{
	min-height: 200px;
}
.contact_us_block_1__content_block__history__image__img_1,
.contact_us_block_1__content_block__history__image__img_2{
	img{
		width: initial;
		max-width: 480px;
		position: relative;
	}
}
.map_block{
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}
.abus_main__block_4__title{
	margin-bottom: 26px;
}
.contact_us_block_1__content_block__history__image__text{
	position: absolute;
}
.contact_us_block_1__content_block__history__image__img_1{
	position: relative;

	img{
		z-index: 10;
	}
}
.contact_us_block_1__content_block__history__image__img_2{
	position: absolute;
    bottom: -30%;
    left: 24%;
    
    img{
    	z-index: 15;
    }
}
.contact_us_block_1__content_block__history__image{
	padding-top: 116px;
}
.contact_us_block_1__content_block__history__image__text{
	color: #e8ebef;
	font-weight: bold;
	position: absolute;
	font-size: 120px;
	z-index: 8;
}
.contact_us_block_1__content_block__history__image__text_top{
    top: -22%;
    left: 14%;
}
.contact_us_block_1__content_block__history__image__text_btm{
    top: 89%;
    right: 8%;
}
.contact_us_block_1__content_block__history__image__text--exp2{
    top: -31%;
}
.contact_us_block_1__content_block__history__image__text--exp1{
    top: 48%;
}
.abus_main__block_4{
    background-position: bottom !important;
    background-size: 100% !important;
}
.abus_main__block_4__text{
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	font-family: 'helvetica_light';
}