.head_exp__block--contacts{
	background-image: url("../img/contacts.bg.jpg");
}
.contacts__block__left__text{
	font-size: 20px;
	line-height: 28px;
	font-family: 'helvetica_roman';
	margin: 30px 0 38px 0;

	span{
		font-size: 16px;
		font-weight: bold;
		line-height: 26px;
	}
}
.contacts__block__left__title{
	padding: 10px 0;
}
.contacts__block__wrapper{
	display: flex;
	justify-content: space-between;

}
.contacts__block__left,
.contacts__block__right{
	width: 45%;
}
.contacts__block__left__form{

	.wFormRow{
		margin: 0 0 2% 0;
	}
	.form__text,
	textarea{
		box-sizing: border-box;
		background-color: #f1f3f5;
		border: 1px solid transparent;
		padding: 18px;
		color: #8d9cad;
		border-radius: 4px;

		&:focus{
			color: #000;
		}
	}
	.form__text{
		width: 100%;
		margin-bottom: 2%;
	}
	textarea{
		resize: none;
		width: 100%;
		margin-bottom: 24px;
	}
}
.contacts__block__left__title{
	font-size: 24px;
	font-weight: bold;
	padding: 20px 0;
}
.contacts__block__left__text{
	img{
		margin-right: 18px;
	}
}
.contacts__block__right__contacts{
	margin: 24px 0;
	list-style-type: none;
	padding: 0;

	.page_footer__bottom_block__item{
		margin-bottom: 44px;
	}
	.page_footer__bottom_block__content_block{
		font-size: 16px;
	}
	.page_footer__bottom_block__content_block{
		width: 70%;
	}
}