@font-face {
    font-family: 'helvetica_roman';
    src: url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helvetica_thin';
    src: url('../fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helvetica_thin';
    src: url('../fonts/helveticaneuecyr-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'helvetica_ulight';
    src: url('../fonts/helveticaneuecyr-ultralight-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helvetica_ulight';
    src: url('../fonts/helveticaneuecyr-ultralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-ultralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'helvetica_black';
    src: url('../fonts/helveticaneuecyr-black-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helvetica_black';
    src: url('../fonts/helveticaneuecyr-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'helvetica';
    src: url('../fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'helvetica';
    src: url('../fonts/helveticaneuecyr-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: 'helvetica_heavy';
    src: url('../fonts/helveticaneuecyr-heavy-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helvetica_heavy';
    src: url('../fonts/helveticaneuecyr-heavyitalic-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-heavyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'helvetica_italic';
    src: url('../fonts/helveticaneuecyr-italic-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helvetica_light';
    src: url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helvetica_light';
    src: url('../fonts/helveticaneuecyr-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'helvetica';
    src: url('../fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helvetica';
    src: url('../fonts/helveticaneuecyr-mediumitaicl-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-mediumitaicl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}