
.page_footer{
	background-color: #2d4055;
	position: relative;
	padding-bottom: 48px;
	font-size: 14px;

	a{
	    transition: color 0.2s ease, border-color 0.5s ease-out;

		&:hover{
			color: #f4892e;
    		border-color: #f4892e;
		}
	}
}
.page_footer__on_top_block{
	display: inline-block;
	vertical-align: middle;
	display: flex;
    height: 50px;
    justify-content: center;
    align-items: flex-end;

	a{
		font-size: 16px;
		font-family: 'helvetica_roman';
	}
}
.page_footer__on_top_block__wrapper{
	height: 50px;
	text-align: center;
	position: relative;
	margin-bottom: 42px;
	
	&:after {
	    display: inline-block;
	    content: "";
	    position: absolute;
	    width: 44%;
	    bottom: 0;
	    left: 0;
	    top: 0;
	    z-index: 15;
	    border-top: 50px solid #fff;
	    border-right: 50px solid transparent;
	}
}
.page_footer__nav{
	padding-bottom: 26px;

	.nav__item{
		&:first-child{
			padding-left: 0;
		}
	}
	.nav__wrapper{
		display: inline-block;
	    width: 80%;
	    text-align: left;
	}
	.nav__link{
		font-size: 14px;
	}
}
.js-to_top{
	position: relative;

	.page_footer__on_top_block__arrow{
		position: absolute;
		display: inline-block;
		width: 53px;
		height: 23px;
		top: -100%;
		left: 0;
	}
}
.page_footer__bottom_block{
	padding-top: 26px;
	border-top: 1px solid #656976;
}
.page_footer__bottom_block__wrapper{
	display: flex;
	padding: 0;
	margin: 0;
	list-style-type: none;

	.page_footer__bottom_block__item{
		&:last-child{
			text-align: right;
		}
	}
}
.page_footer__bottom_block__content_block{
	display: inline-block;
	width: 200px;
}
.page_footer__bottom_block__item{
	flex: 1 1 auto;
}
.page_footer__bottom_block__img_block{
	display: inline-block;
	vertical-align: top;
	margin-right: 8px;
}
.page_footer__bottom_block__text{
	font-family: 'helvetica';
	font-weight: bold;

	a{
		font-family: 'helvetica';
		font-weight: bold;
	}
}