._color__white{
	color: #fff;
}
._color__dark_blue{
	color: #0b293d;
}
._color__black{
	color: #000;
}
._color__light_blue{
	color: #8d9cad;
}
._color__blue{
	color: #0077c0;
}
._fleft{
	float: left;
}
._fright{
	float: right;
}
._phone{
	text-decoration: none;
	font-family: 'helvetica_roman';
}
._wshadow{
	box-shadow: 23px 23px 38px 0px rgba(8, 8, 8, 0.3)
}
._tal{
	text-align: left;
}
._clear{
	clear: both;
}
._tac{
	text-align: center;
}