.page_header{
	display: flex;
	z-index: 555;
	width: 100%;
	align-items: center;
	min-height: 82px;
    box-shadow: 0 6px 53px -17px rgba(0, 0, 0, 0.8);
    position: relative;
}
.page_header__right_block{
	display: flex;
	flex-direction: row-reverse;
}
.page_header__logo_wrapper{
	display: inline-flex;
	align-items: center;
	padding-left: 18px;
	font-family: 'helvetica_light';
	flex: 1 1 auto;
	text-decoration: none;

	span{
		padding-left: 18px;
	}
}
.page_header__nav{
	flex: 100 1 auto;
    max-width: 1124px;
}
.page_header__right_block{
	flex: 1 1 auto;
	min-height: 82px;
}
.head_exp__block{
	min-height: 325px;
	background-size: cover;
	z-index: 10;
	position: relative;
	padding-top: 90px;
	padding-bottom: 110px;
	box-sizing: border-box;

	&:after{
		display: inline-block;
	    content: "";
	    position: absolute;
	    width: 70%;
	    bottom: 0;
	    left: 0;
	    z-index: 15;
	    border-bottom: 50px solid #fff;
	    border-right: 50px solid transparent;
	}
}
.head_exp__block--abus{
	background-image: url("../img/abus.bg.jpg");
}
.head_exp__overlay{
	    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 8;
    background-color: #0a283c;
    opacity: 0.6;
}
.head_exp__sub_overlay{
	display: inline-block;
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 12;
    background-color: #f58425;
    height: 16px;

    &:after{
    	display: inline-block;
	    content: "";
	    position: absolute;
	    width: 83%;
	    left: 0;
	    z-index: 12;
	    border-bottom: 50px solid #f58425;
	    border-right: 50px solid transparent;
	    bottom: 16px;
    }
}
.projects__nav__item{
	cursor: pointer;
	text-decoration: underline;
}
.projects__nav__item--active{
	position: relative;
	cursor: default;
	text-decoration: none;
	
	&:after{
	    position: absolute;
	    content: "";
	    width: 0;
	    bottom: -30px;
	    left: 50%;
	    height: 0;
	    border-left: 20px solid transparent;
	    border-right: 20px solid transparent;
	    border-bottom: 22px solid #f58425;
	    margin-left: -20px;
	}
}
.head_exp__block__content{
	z-index: 25;
	position: relative;
	text-align: center;
}
.active_page{
	color: #f58425 !important;
	pointer-events: none;
   cursor: default;
}
.head_exp__block__text{
	font-size: 20px;
	max-width: 805px;
	line-height: 30px;
	margin: 30px auto;
	font-weight: normal;
		font-family: 'helvetica_light';
}
.head_exp__block__title{
	padding-bottom: 30px;
}