@media (max-width: 1615px){
	.page_header__logo_wrapper{
		flex-direction: column;
	}
}
@media (max-width: 1415px){
	.page_header__nav{
		.nav__item{
			padding: 0 1%;
		}
		.nav__link{
			font-size: 14px;
		}
	}
	.page_header__logo_wrapper{
		padding-left: 0;
	}
	.page_header__logo_wrapper span{
		padding-left: 6px;
		font-size: 15px;
	}
	
}
@media (max-width: 1320px){
	.service_block_exp .abus_main__block_1__left__text {
	font-size: 18px;
	line-height: initial;
	}
	.mm-navbar{
		.lng_drop_menu,
		.lng_drop_menu__item{
			width: 33.3%;
		}
	}
	
	.iso_logo__wrapper{
		width: 72px;
	}
	.feedback__wrapper{
		.title__custom_3{
			font-size: 16px;
		}
	}
	.feedback__wrapper{
		min-width: initial;
	}
	.feedback__phones_wrapper{
		width: 140px;
	}
	
	.abus_main__block_1__left{
		width:75%;
	}
	.abus_main__block_1__right{
		width: 25%;
	}
}
@media (max-width: 1261px){
	.projects__grid{
		justify-content: center;
	}
	.projects__grid__item{
		margin-left: 14px;
	}
	.page_header__nav{
		flex: 6 1 auto;
	}
}
@media (max-width: 1137px){
	.page_header__nav{
		.nav__item{
			max-width: 122px;
			span{
				line-height: 100%;
			}
		}
	}
}
@media (max-width: 1024px){
	.service__list{
		ul{
			padding-left: 12px;
		}
	}
	.slider__type_2__arrow{
		z-index: 55;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 8px;
		&:after{
			border-top: 4px solid #f58425;

			border-right: 4px solid #f58425;
		}
		&:hover{
			transform: scale(0.8);
		}
	}
	.page_footer__bottom_block__img_block{
		display: none;
	}
	.mm-page{
		padding-top: 82px;
	}
	.project__popup {
		width: 100%;
		box-sizing: border-box;
	}
	.service_block_exp {
		height: initial;
		.abus_main__block_1__right {
			display: none;
		}
		.abus_main__block_1__left {
			width: 100%;
			max-height: initial;
		}
	}
	.feedback__popup{
		width: 80%;
	}
	.direct__block__block--adapt_b{
		width: 100%;
	}
	.direct__block__block--adapt_s{
		height: 360px;
		padding: 42px 0 0 46px;

		.direct__block__block_list {
			width: 64%;
		}
	}
	.direct__block__block--33{
		width: 49.3%;
	}
	.title__custom_1{
		font-size: 58px;
		font-weight: bold;
		line-height: 62px;
		font-family: 'helvetica';
	}
	.title__custom_2{
		font-size: 50px;
		font-family: 'helvetica_light';
	}
	.title__custom_3{
		font-size: 18px;
	}
	.title__custom_4{
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		font-family: 'helvetica';
	}
	.title__custom_5{
		font-size: 14px;
		line-height: 20px;
		font-family: 'helvetica_roman';
	}
	.page_header__logo_wrapper{
		flex-direction: column;
		flex: 15 1 auto;
	}
	.page_header__nav{
		display: none;
	}
	.hamburger{
		display: inline-block;
	}
	.contact_us_block_1__content_block__img_wrapper{

		img{
			width: 82%;
		}
	}
	.contact_us_block_1__content_block__text{
		width: 256px;
	}
	.page_footer__nav{
		display: none;
	}
	.socs_block{
		float: none;
		margin-top: 20px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.page_footer__bottom_block__wrapper{
		flex-wrap: wrap;
	}
	.page_footer__bottom_block__item{
		margin: 25px 0;
		display: flex;
		justify-content: center;
	}
	.abus_block__img_block{
		padding: 0 2%;
	}
	.contact_us_parent_block{
		background-position: 69%;
	}
	.head_exp__block{
		background-position: 50%;
	}
	.abus_main__block_1__right{
		display: none;
	}
	.abus_main__block_2__item__image{
		svg{
			width: 100%;
		}
	}
	.contact_us_block_1__content_block__history__item:nth-child(even) .contact_us_block_1__content_block__history__image {
	order: 0;
}
.contact_us_block_1__content_block__history__item:nth-child(even) .contact_us_block_1__content_block__history__text {
	order: 0;
}
.contact_us_block_1__content_block__history__image, .contact_us_block_1__content_block__history__text {
	width: 100%;
}
.contact_us_block_1__content_block__history__item{
	flex-wrap: wrap;
}
.contact_us_block_1__content_block__history__image__img_1{
	margin-bottom: 120px;
}
.contact_us_block_1__content_block__history__image{
		padding-top: 50px;
}
.contact_us_block_1__content_block__history__image__img_2 img{
	max-height: 202px;
}
.abus_main__block_2__item__text,
.contact_us_block_1__content_block__history__text{
	padding: 0 10px;
}
.abus_main__block_4{
	background-size: 150% !important;
}
.contacts__block__left,
.contacts__block__right{
	width: 100%;
}
.contacts__block__left{
	order: 2;
}
.contacts__block__right{
	order: 1;
}
.map_block{
	padding-top: 55%;
}
.contacts__block__wrapper{
	flex-direction: column;
}
.contact_us_parent_block--exp2{
		min-height: initial;
	}
	.abus_main__block_1{
		min-height: initial;
	}
	.abus_main__block_1__left{
		min-height: initial;
		width: 100%;
	}
	.page_header{
		position: fixed;
		background-color: #fff;
		top: 0;
	}
	body{
		// margin-top: 82px;
	}
	.slider__type_2__window,
	.slider__type_2__active{
		height: 440px;
	}
	.direct__block__block:before{
		opacity: 1;
	}
	.direct__block__block_icon{
		background-color: #f58323;
		border-color: transparent;
	}
	.direct__block__block_list{
		opacity: 1;
	}
	.direct__block__block ._bottom_line--exp:after{
		width: 170px;
	}
	.slider__type_1__subtitle{
		padding-bottom: 49px;
	}
	.contacts__block__right__inwrapper{
		display: flex;
	}
	.contacts__block__right__inwrapper{
		.contacts__block__left__text{
			width: 55%;
		}
	}
	.contacts__block__right__contacts{
		width: 45%;
	}
	.contacts__block__left__title{
		text-align: center;
		&:after{
			display: none;
		}
	}
	.media_popup_galry{
		width: 100%;
	}
	.media_galry .slider__type_3__arrow{
		background-color: rgba(0, 0, 0, 0.4);
	    top: 35%;

	    &:after{
	    	    top: 42px;
	    	    border-color: #fff;
	    }
	}
    
}
@media (max-width: 800px){
	.project__popup__galry__img__window {
		margin: 0;
		max-width: initial;
	}
	.project__popup__galry__sub_arrow{
		display: block;
	}
	.project__popup__galry__arrow_top,
	.project__popup__galry__arrow_btm,
	.project__popup__galry__img{
		display: none;
	}
}
@media (max-width: 768px){

	._phone{
	font-size: 14px;
	}
	.project__popup{
		min-width: initial;
	}
	.arrow_to_bot{
		display: none;
	}
	.projects__pag__wrapper{
		margin-top: 25px;
	}
	.map_wrapper {
		margin-top: 50px;
	}
	.contacts__block__right__inwrapper{
		flex-wrap: wrap;
		.contacts__block__left__text{
			width: 30%;

			img{
				float: none;
			}
			span{
				display: block;
				margin-top: 10px;
					font-size: 14px;
					line-height: 22px;
			}
		}
	}
	.media_galry__active__image{
		height: 400px;
	}
	.contacts__block__right__contacts{
		width: 70%;
	}
	.abus_main__block_4__text{
		font-size: 16px;
	}
	.service__list {
		flex-wrap: wrap;
		padding: 0 12px;
		ul{
			width: 100%;
			padding-left: 0;
		}
		
	}

	.service_block__title{
		margin-top: 30px;
	}
	.abus_main__block_1__right{
		display: none;
	}
	.abus_main__block_1__left{
		width: 100%;
	}
	.abus_main__block_4{
		background-size: 200% !important;
	}
	.feedback__popup{
		width: 100%;

		.feedback__popup__item{
			width: 100%;
		}
	}
	.adapt__hide{
		display: none;
	}
	.contact_us_block_1__content_wrapper{
		flex-direction: column;
	}
	.contact_us_block_1__content_block__num_wrapper{
		width: 100px;
		height: 100px;
	}
	.contact_us_block_1__content_block__text{
		margin: 12px auto 40px auto;
	}
	
	.direct__block__block{
		padding: 10px 0 0 10px;
	}
	.page_footer__on_top_block{
		padding-left: 82px;
	}
	.slider__type_1__subtitle{
		width: 84%;
	}
	.title__custom_1{
		font-size: 45px;
		line-height: 48px;
	}
	.slider__type_1__text{
		width: 85%;
		font-size: 18px;
		line-height: 24px;
		margin: 22px;
	}
	.slider__type_1__content{
		padding-top: 30px;
	}
	.slider__type_1__title{
		margin-bottom: 26px;
	}
	.slider__type_1__arrow_block{
		top: 7px;
	}
	.slider__type_2__active{
		width: 100%;
		left: 0;
		margin-left: 0;
		background-position: 50%;
	}
	.slider__type_2__window{
		.slider__type_2__item{
			&:nth-child(1){
				margin-left: -625px;
			}
		}
	}
	.abus_main__block_2__item__image{
		svg{
			width: initial;
		}
	}
	.abus_main__block_2__item{
		flex-wrap: wrap;
	}
	.abus_main__block_2__item__image{
		text-align: center;
	}
	.abus_main__block_2__item__text, 
	.abus_main__block_2__item__image{
		width: 100%;
	}
	.abus_main__block_2__item:nth-child(even) 
	.abus_main__block_2__item__image{
		order: 0;
	}
	.title__custom_2{
		font-size: 28px;
	}
	.abus_main__block_1__left__pre_text{
		font-size: 16px;
	margin: 10px 0 16px 0;
	}
	.abus_main__block_1__left__text {
		font-size: 14px;
	}
	.contacts__block__left{
		.contacts__block__left__text{
			margin-top: 0;
		}
	}
	.project__popup__text{
		font-size: 14px;
	}
	// .projects__grid__item__item_bot__text{
	// 	font-size: 18px !important;
	// 	margin-top: 20px;
	// }
	.mm-page{
		padding-top: 50px;
	}
	.page_header{
		min-height: 50px;
	}
	.adapt__hide_2{
		display: none;
	}
	.mm-navbar{

		.lng_drop_menu__item{
			display: block;
		}
	}
	.lng_drop_menu__item{
		width: 33.33%;
		height: initial;
	}
	.feedback__phones{
		span{
			padding-top: 4px;
			display: block;
		}
	}
	.hamburger{
		padding: 11px 15px;
		top: 0;
	}
	.page_header__right_block{
		min-height: 50px;
	}
	.feedback__wrapper{
		padding-top: 0;
	}
}
@media (max-width: 640px){
	.direct__block__block{
		width: 100%;
	}
	.media_popup_galry{	
		padding: 65px 15px;
	}
	
	
	.page_header__logo_wrapper svg {
	width: 105px;
}
	
	.abus_block__img_block{
		flex-direction: column;
		background-image: none;
		padding: 15px 2%;

		.abus_block__img_block__item__text{
			font-size: 16px;
			margin-bottom: 10px;
		}
		.abus_block__img_block__item__img{
			width: 135px;
			height: 135px;
			margin-bottom: 12px;
		}
	}
	.contact_us_block_2__content{
		width: 300px;
	}
	
	.contact_us_block_1__content_block__history__image__img_1,
	.contact_us_block_1__content_block__history__image__img_2{
		img{
			width: initial;
			max-width: 300px;
			position: relative;
		}
	}
	.projects__pag__item--adp_hide{
		display: none;
	}
	.projects__grid__item{
		width: 300px;
	}
	.contacts__block__right{
		.contacts__block__left__text{
			margin-bottom: 0;
		}
	}
	.media_galry__active__image{
		height: 320px;
	}
}
@media (max-width: 590px){
	
}
@media (max-width: 474px){
	.page_footer__bottom_block__item{
		width: 100%;
	}
	.page_footer__bottom_block__wrapper{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.title__custom_1 {
		font-size: 34px;
		line-height: 36px;
	}
	.abus_main__block_2__item__image{
		svg{
			width: 100%;
		}
	}
	.abus_main__block_4{
		background-size: 350% !important;
	}
	.media_galry__active__image{
		height: 250px;
	}
}
@media (max-width: 460px){
	.feedback__phones_box{
		display: none !important;
	}
	.contacts__block__wrapper{
		.contacts__block__left__text,
		.contacts__block__right__contacts{
			width: 100%;
		}
		.contacts__block__left__text{
			display: flex;
			justify-content: center;
		}
	}
	.page_header__right_block{
		order: 2;
	}
	.page_header__logo_wrapper{
		order: 3;
	}
	.slider__type_1__wrapper{
		height: 629px;
	}
	.feedback__wrapper{
		border-left: 1px solid #e8ebef;	
	}
	.arrow_to_bot{
		display: none;
	}
}
@media (max-width: 430px){
	.contacts__block__right__inwrapper{
		.contacts__block__right__contacts{
			margin: 0;
		}
	}
	.page_header__logo_wrapper{
		padding: 0;
		span{
			font-size: 3vw;
			padding: 0;
		}
		svg{
			width: 91px;
		}
	}
	.feedback__wrapper{
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
	.direct__block__block--33{
		.direct__block__block_list{
			width: 72%;
		}
	}
	.direct__block__block_icon{
		width: 70px;
		height: 70px;

		svg{
			width: 61%;
		}
	}
	.title__custom_1 {
		font-size: 28px;
		line-height: 30px;
	}
	.slider__type_1__subtitle {
		width: 72%;
	}
	.slider__type_1__text {
		width: 89%;
		margin: 14px;
	}
	.contact_us_block_1__content_block__history__image__text{
		font-size: 80px;
	}
	.feedback__btn{
		width: 100%;
		box-sizing: border-box;
		padding: 0;
	}
}