.feedback__popup{
	padding: 2.3% 3.7%;
	top: 10%;
	z-index: 5555;
	background-color: #fff;
	width: 46%;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;

	.form__text,
	textarea{
		box-sizing: border-box;
		background-color: #f1f3f5;
		border: 1px solid transparent;
		padding: 18px;
		color: #8d9cad;

		&:focus{
			color: #000;
		}
	}
	.form__text{
		width: 100%;
	}
	textarea{
		resize: none;
		width: 100%;
		margin-bottom: 24px;
	}
}
.feedback__popup{
	.feedback__popup__item{
		width: 49%;
	    margin: 0 0 2% 0;
	}
}
.feedback__popup__text{
	margin: 30px 0;
	font-size: 20px;
	font-family: 'helvetica_roman';
}
.feedback__popup__title{
	padding-bottom: 18px;
	font-family: 'helvetica_light';
}
.popup-youtube{
	&:after{
		background-image: url("../img/overvideo.png");
		position: absolute;
		content: "";
		width: 98px;
		height: 67px;
		left: 50%;
		top: 50%;
		margin-left: -49px;
	    margin-top: -100px;
	}
}

.project__popup{
	width: 50%;
	position: relative;
    padding: 4.7% 4.3%;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 10%;
    min-width: 720px;

    .projects__grid__item__item_bot{
    	background-color: #fff;
    	padding: 0;
    	height: initial;
    	margin-bottom: 30px;
    }
    .projects__grid__item__item_bot__text{
    	font-size: 32px;

    	
    }
}
.project__popup__text{
	font-size: 16px;
	font-family: 'helvetica_light';
	line-height: 26px;
	margin-top: 42px;

	ul{
		padding: 0;
	    list-style-position: inside;
	}
	li{
    		color: #0077c0;

    		span{
    			color: #000;
    		}
    	}
}
.media_popup_galry{
	background-color: #fff;
	width: 70%;
	margin: 0 auto;
	padding: 15px;
	position: relative;
	box-sizing: border-box;
}