.head_exp__block--prjects{
	background-image: url("../img/prbg.jpg");
	padding-bottom: 90px;
}
.projects__nav{
	z-index: 25;
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
}
.projects__nav__item{
	margin: 0 25px;
}
.projects__grid__wrapper{
	margin-top: 32px !important;
	margin-bottom: 65px;
}
.projects__grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.projects__grid__item{
	min-width: 300px;
	width: 33.33%;
	max-width: 400px;
	overflow: hidden;
	margin-bottom: 30px;
	position: relative;
	cursor: pointer;
	transition: box-shadow 0.6s ease;

	&:hover{
		box-shadow: 0px 0px 46px 7px rgba(0, 0, 0, 0.3);

		.head_exp__overlay{
			opacity: 0.6;
		}
		.projects__grid__item__item_bot{
			background-color: #fff;
		}
		.overlay__plus{
			opacity: 1;
		}
		.projects__grid__item__item_bot__text{
			color: #0077c0;
			text-decoration: underline;
		}
	}
	.head_exp__overlay{
		opacity: 0;
		transition: opacity 0.6s ease-out;
	}
	.slider__type_2__item__photo_count{
		opacity: 0.9;
		z-index: 15;
	}

}
.projects__grid__item__item_top{
	position: relative;
	
}
.projects__grid__item__item_top__img{
	height: 266px;
	width: 100%;
	background-size: cover;
	background-position: 50%;
}
.projects__item_1{

	.projects__grid__item__item_top__img{
		background-image: url("../img/project_item_1.jpg");
	}
}
.projects__item_2{

	.projects__grid__item__item_top__img{
		background-image: url("../img/project_item_1.jpg");
	}
}
.projects__item_3{

	.projects__grid__item__item_top__img{
		background-image: url("../img/project_item_1.jpg");
	}
}
.projects__item_4{

	.projects__grid__item__item_top__img{
		background-image: url("../img/project_item_1.jpg");
	}
}
.projects__item_5{

	.projects__grid__item__item_top__img{
		background-image: url("../img/project_item_1.jpg");
	}
}
.projects__item_6{

	.projects__grid__item__item_top__img{
		background-image: url("../img/project_item_1.jpg");
	}
}
.projects__item_7{

	.projects__grid__item__item_top__img{
		background-image: url("../img/project_item_1.jpg");
	}
}
.projects__item_8{

	.projects__grid__item__item_top__img{
		background-image: url("../img/project_item_1.jpg");
	}
}
.projects__item_9{

	.projects__grid__item__item_top__img{
		background-image: url("../img/project_item_1.jpg");
	}
}
.projects__grid__item__item_bot{
	background-color: #e8ebef;
	height: 164px;
	transition: background-color 0.6s ease;
	padding: 30px 25px;
	box-sizing: border-box;
}
.projects__grid__item__item_bot__text{
	font-weight: bold;
	font-size: 16px;
	transition: color 0.6s ease;
	margin-bottom: 14px;
	    max-height: 71px;
    overflow: hidden;
}
.projects__grid__item__item_bot__date{
	font-size: 14px;
	display: inline-block;
	margin-right: 22px;
	font-family: 'helvetica_roman';
}
.projects__grid__item__item_bot__current{
	display: inline-block;
	font-family: 'helvetica_roman';
}
.projects__pag{
	font-weight: bold;
	font-size: 16px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: #e8ebef;
	border-radius: 4px;
}
.projects__pag__wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 65px;
}
.projects__pag__item{

	a{
		text-decoration: none;
		display: inline-block;
		width: 56px;
		height: 56px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 4px;
		transition: background-color 0.5s ease,
					color 0.5s ease;

		&:hover{
			background-color: #0077c0;
			color: #fff;
			.projects__pag__arrow__item{
				background-color: #fff;
				&:after{
					border-color: #fff;
				}
			}
		}
	}
}

.projects__pag__arrow__item{
	height: 1px;
    width: 12px;
    background-color: #000;
    border-radius: 8px;
    position: relative;

    &:after{
    	content: "";
	    display: inline-block;
	    border-bottom: 2px solid #000;
	    border-left: 2px solid #000;
	    width: 6px;
	    height: 6px;
	    position: absolute;
	    left: 1px;
    	top: -4px;
    	transform: rotate(45deg);
    }
}
.projects__pag__arrow--blocked{

	a{
		pointer-events: none;
    	cursor: default;
	}
	.projects__pag__arrow__item{
		background-color: #909baa;

		&:after{
			border-color: #909baa;
		}
	}
}
.projects__pag__arrow_right{
	.projects__pag__arrow__item{
		transform: rotate(180deg);
	}
}
.project__popup__galry__sub_arrow{
    position: absolute;
    width: 80px;
    height: 140px;
    z-index: 25;
    top: 50%;
    margin-top: -70px;
    cursor: pointer;
    transition: transform 0.6s ease;
    background-color: rgba(0, 0, 0, 0.4);
    transform: scale(0.8);
    
    &:after{
        position: absolute;
        width: 80px;
        height: 80px;
        border-top: 4px solid #fff;
        border-right: 4px solid #fff;
        top: 27px;
        content: "";
        border-radius: 4px;
        transition: border-color 0.6s ease;
    }
}
.project__popup__galry__sub_arrow{
	display: none;
}
.project__popup__galry__arrow_toright{
    right: 3%;

    &:after{
        transform: rotate(45deg);
        left: -30px;
    }
}
.project__popup__galry__arrow_toleft{
    left: 3%;

    &:after{
        transform: rotate(-135deg);
        left: 24px;
    }
}