.head_exp__block--service{
	background-image: url("../img/service_bg.jpg");

}
.service_block__nav__item{
    position: relative;
    text-align: center;
    margin-bottom: 15px;

	
	a {
	    display: inline-block;
	    text-decoration: none;
	    position: relative;

	    &:hover{
	    	.service_block__nav__item__image{
				background-color: #0077c0;
	    		border-color: #fff;
	    	}
	    	.service_block__nav__arrow{
	    		opacity: 1;
	    		top: 92px;
	    	}
	    	.service_block__nav__text{
	    		color: #0077c0;
	    		text-decoration: underline;
	    	}
	    	svg{
	    		fill: #fff;
	    	}
	    }
	}

}

.service_block__nav__item__image{
	width: 100px;
	height: 100px;
    border: 2px solid #7fbbdf;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    transition: background-color 0.6s ease, border-color 0.6s ease;

    svg{
	    width: 80%;
	    top: 0;
	    left: 0;
	    margin: auto;
	    bottom: 0;
	    right: 0;
	    fill: #0077c0;
	    transition: fill 0.5s ease;
	    position: absolute;
	}
}
.service_block__nav__arrow{
	position: absolute;
    top: 79px;
    left: 37.5%;
	transition: opacity 0.6s ease, top 0.6s ease;
	opacity: 0;
}
.service_block__nav{
    display: flex;
    justify-content: space-around;
    margin: 38px 62px 0 62px;
    flex-wrap: wrap;
}
.service_block__nav__text{
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	width: 180px;
	margin-top: 28px;
	transition: color 0.6s ease, text-decoration 0.6s ease;
}
.service_block__title{
	max-width: 600px;
	margin: 0 auto;
	margin-top: 100px;
}
.service_block_exp{
	background-color: transparent;
	    height: 590px;
    min-height: 590px;
    margin: 18px 0;
	.abus_main__block_1__left{
		background-color: #0077c0;
		color: #fff;
	}
	.abus_main__block_1__left__text{
		font-size: 20px;
		line-height: 30px;
	}

	.abus_main__block_1__left__image{
		margin-bottom: 30px;
		margin-left: 30px;
	}
}
.abus_main__block_1__left_exp{
	background-color: #e8ebef !important;
	color: #000 !important;
}
.service_block_exp__0{
	.abus_main__block_1__right{
		background-image: url("../img/service_1.jpg");
	}
}
.service_block_exp__1{
	.abus_main__block_1__right{
		background-image: url("../img/service_2.jpg");
	}
}
.service_block_exp__2{
	.abus_main__block_1__right{
		background-image: url("../img/service_3.jpg");
	}
}
.service_block_exp__3{
	.abus_main__block_1__right{
		background-image: url("../img/service_4.jpg");
	}
}
.service_block_exp__4{
	.abus_main__block_1__right{
		background-image: url("../img/service_5.jpg");
	}
}
.service__list{
	max-width: 800px;
	display: flex;
	margin: 0 auto;

	ul{
		width: 50%;
		list-style-type: none;
		padding: 0;

		li{
			font-size: 16px;
			line-height: 26px;
			font-family: 'helvetica_light';
			position: relative;
			padding: 6px 0 6px 46px;
			
			.custom_list_style{
				background-image: url("../img/list_c.png");
				background-size: cover;
				position: absolute;
				width: 26px;
				height: 26px;
				// display: inline-block;
				// border: 2px solid #0077c0;
				left: 0;
				top: 5px;
				// border-radius: 100%;
			}
			// &:before,
			// &:after{
			// 	position: absolute;
			// 	width: 2px;
			// 	content: "";
			// 	display: inline-block;
			// 	background-color: #0077c0;
				
			// 	margin-left: -1px;
			// 	margin-top: -10px;
			// }
			// &:before{
			// 	transform: rotate(-45deg);
			// 	height: 10px;
			// 	    top: 27px;
   //  left: 11px;
			// }
			// &:after{
			// 	transform: rotate(45deg);
			// 	height: 18px;
			// 	    top: 23px;
   //  left: 19px;
			// }
		}
	}
}
.contact_us_parent_block--exp2{
	min-height: 1000px;
	    display: flex;
}
