.slider__type_1__wrapper{
    width: 100%;
    height: 728px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    
    &:after{
        display: inline-block;
        content: "";
        position: absolute;
        width: 57%;
        bottom: 0;
        left: 0;
        z-index: 15;
        border-bottom: 50px solid #fff; 
        border-right: 50px solid transparent;   
    }
}
.slider__type_1__slide{
    height: 728px;
}
.slider__type_1__subtitle{
    width: 90%;
    max-width: 998px;
    padding-bottom: 60px;
    max-height: 198px;
    overflow: hidden;
}
.slider__type_1__title{
    font-size: 16px;
    color: #e8ebef;
    text-transform: uppercase;
    opacity: 0.6;
    letter-spacing: 8px;
    margin-bottom: 56px;

    &:before{
        display: inline-block;
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 4px;
        background-color: #e8ebef;
        margin-right: 24px;
        margin-bottom: 4px;
    }
    &:after{
        display: inline-block;
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 4px;
        background-color: #e8ebef;
        margin-left: 19px;
        margin-bottom: 4px;
    }
}
.slider__type_1__slider_items{
    position: relative;
}
.slider__type_1__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 8;
    background-color: #0a283c;
    opacity: 0.6;
}
.slider__type_1__text{
    font-size: 20px;
    line-height: 30px;
    width: 643px;
    margin: 30px 0;
    font-family: 'helvetica_light';
    overflow: hidden;
    max-height: 147px;
}
.slider__type_1__img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    z-index: 5;
}
.slider__type_1__content{
    z-index: 10;
    padding-top: 82px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding-left: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.slider__type_1__content_wrapper{
    position: relative;
}
.slider__type_1__arrow_block__wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;;
}
.slider__type_1__arrow_block{
    position: absolute;
    right: 0;
    top: 180px;
    z-index: 15;
    padding-right: 10px;
}
.slider__type_1__arrow_top,
.slider__type_1__arrow_bottom{
    border: 2px solid #8a9eb1;
    border-radius: 100%;
    display: flex;
    width: 64px;
    height: 64px;
    margin: 9px 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    position: relative;
    
    &:after{
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 6px solid transparent;
        border-top: 6px solid #f58323;
        position: absolute;
        top: -6px;
        left: -6px;
    }
}
.slider__type_1__arrow_top{

    &:hover{
        &:after{
            opacity: 1;
            transition: 1s ease;
            transform: rotate(40deg);
        }
    }
    &:not(:hover){
        &:after{
            opacity: 0;
            transition: 1s;
            transform: rotate(-100deg);
        }
    }
    span{
        &:after{
            top: 1px;
            transform: rotate(135deg);
        }
    }
}
.slider__type_1__arrow_bottom{
    svg{
        -webkit-backface-visibility: hidden;
    }

    &:hover{
        &:after{
            opacity: 1;
            transition: 1s ease;
            transform: rotate(-140deg);
        }
    }
    &:not(:hover){
        &:after{
            opacity: 0;
            transition: 1s;
            transform: rotate(0);
        }
    }
    span{
        &:after{
            bottom: 1px;
            transform: rotate(-45deg);
        }
    }
}
.slider__type_1__slide_1{
    .slider__type_1__img{
        background-image: url("../img/slide_img_1.jpg");
    }
}

.slider__type_1__slide_2{
    .slider__type_1__img{
        background-image: url("../img/slide_img_1.jpg");
    }
}

.slider__type_1__slide_3{
    .slider__type_1__img{
        background-image: url("../img/pre_footer_block_bg2.png");
    }
}

.slider__type_1__slide_4{
    .slider__type_1__img{
        background-image: url("../img/sunpp11.jpg");
    }
}
// slider 2
.slider__type_2__wrapper{
    width: 100%;
    height: 530px;
    overflow: hidden;
    padding: 34px 0;
}
.slider__type_2{
    position: relative;
}
.slider__type_2__window{
    width: 99999px;
    height: 530px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.slider__type_2__item{
    width: 605px;
    display: inline-block;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 30px;
    position: relative;
    font-family: 'helvetica';
    font-weight: bold;
}
.slider__type_2__overlay{
    position: absolute;
    width: 100%;
    height: 400px;
    display: inline-block;
    top: 50%;
    left: 0;
    content: "";
    background-color: rgba(10, 40, 60, 0.6);
    opacity: 1;
    margin-top: -200px;
}
.slider__type_2__active{
    width: 800px;
    height: 530px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -400px;
    z-index: 25;
    box-shadow: 0 0px 39px 8px rgba(0, 0, 0, 0.8);

    .slider__type_2__item__text,
    .slider__type_2__item__photo_count{
        opacity: 1;
    }
    .slider__type_2__item__overlay{
        opacity: 3;
    }
}
.slider__type_2__arrow{
    position: absolute;
    width: 80px;
    height: 140px;
    z-index: 25;
    top: 50%;
    margin-top: -70px;
    transform: scale(0.8);
    cursor: pointer;
    transition: transform 0.6s ease;
    
    &:after{
        position: absolute;
        width: 80px;
        height: 80px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        top: 27px;
        content: "";
        border-radius: 4px;
        transition: border-color 0.6s ease;
    }
    &:hover{
        transform: scale(1);

        &:after{
            border-color: #f58425;
        }
    }
}
.slider__type_2__arrow_toright{
    right: 3%;

    &:after{
        transform: rotate(45deg);
        left: -30px;
    }
}
.slider__type_2__arrow_toleft{
    left: 3%;

    &:after{
        transform: rotate(-135deg);
        left: 24px;
    }
}
.slider__type_2__item__text{
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.8s ease;
    background-color: rgba(10, 40, 60, 0.6);
    padding: 26px 5%;
    text-decoration: none;
    opacity: 0;
    max-height: 270px;
    box-sizing: border-box;
    width: 100%;
}
.slider__type_2__item__photo_count{
    position: absolute;
    right: 40px;
    top: 44px;
    background-color: rgba(10, 40, 60, 0.9);
    border-radius: 4px;
    line-height: 32px;
    padding: 0 18px;
    font-size: 12px;
    opacity: 0;
    transition: 0.8s ease;
}
.slider__type_2__item__item_1{
    background-image: url("../img/g1.png");
}
.slider__type_2__item__item_2{
    background-image: url("../img/g2.png");
}
.slider__type_2__item__item_3{
    background-image: url("../img/g3.png");
}
.slider__type_2__item__item_4{
    background-image: url("../img/g4.png");
}
.slider__type_2__item__item_5{
    background-image: url("../img/g5.png");
}
.slider__type_2__item__item_6{
    background-image: url("../img/g6.png");
}
.slider__type_2__item__item_7{
    background-image: url("../img/g7.png");
}
// slider 3
.slider__type_3 {
    padding: 0 54px;
    position: relative;
    margin: 52px 0;
    height: 54px;

    .slick-slide{
        margin: 0 22px;
        transition: border 0.5s ease;
        border: 2px solid transparent;
        height: 54px;

        &:hover{
            border: 2px solid #f58323;
        }
    }
}
.slider__type_3__arrow{
    z-index: 25;
    position: absolute;
    // width: 42px;
    // height: 42px;
    width: 60px;
    height: 120px;
    // border-top: 2px solid #204873;
    // border-left: 2px solid #204873;
    // border-radius: 2px;
    // top: 5px;
    top: 50%;
    margin-top: -60px;
    transform: scale(0.8);
    cursor: pointer;
    transition: transform 0.6s ease;
    
    &:after{
        position: absolute;
        width: 30px;
        height: 30px;
        border-top: 2px solid #204873;
        border-right: 2px solid #204873;
        top: 37px;
        content: "";
        border-radius: 4px;
        transition: border-color 0.6s ease;
    }
    &:hover{
        transform: scale(1);

        &:after{
            border-color: #f58425;
        }
    }
    // &:hover{
    //  transition: border-color 0.3s;
    //  border-color: #f58323;
    // }
}

.slider__type_3__arrow_next{
    right: 0;

    &:after{
        transform: rotate(45deg);
        left: 0;
    }
}
.slider__type_3__arrow_prev{
    left: 0;

    &:after{
        transform: rotate(-135deg);
        left: 24px;
    }
}
// .slider__type_3__arrow_next{
//  transform: rotate(135deg);
//  right: 21px;
// }
// .slider__type_3__arrow_prev{
//  transform: rotate(-45deg);
//  left: 21px;
// }
.slick-list{
    z-index: 15;
}
.fade_test{
    
    .slider__type_1__overlay{
        display: none;
    }
    .slider__type_1__content{
        opacity: 1;
    }
}
.slider__type_1__overlay_test{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 8;
    background-color: #0a283c;
    opacity: 0.6;
}
.slider_4{
    margin-top: 40px;
}
.slider_4__item{
    font-family: 'helvetica_roman';
    font-size: 14px;
    margin: 0 15px;
    color: #0077c0;
}
.slider_4__item__img{
    box-shadow: 7px 7px 4px 0px #c5c9ce;
    img{
        margin: 0 auto;
        width: 100%;
    }
}
.slider_4__item__text{
    text-align: center;
    width: 180px;
    max-height: 82px;
    margin: 20px auto 0 auto;
}
.slider__type_4__arrow{
    z-index: 25;
    position: absolute;
    // width: 42px;
    // height: 42px;
    width: 60px;
    height: 120px;
    // border-top: 2px solid #204873;
    // border-left: 2px solid #204873;
    // border-radius: 2px;
    // top: 5px;
    top: 50%;
    margin-top: -60px;
    transform: scale(0.8);
    cursor: pointer;
    transition: transform 0.6s ease;
    
    &:after{
        position: absolute;
        width: 40px;
        height: 40px;
        border-top: 2px solid #204873;
        border-right: 2px solid #204873;
        top: 27px;
        content: "";
        border-radius: 4px;
        transition: border-color 0.6s ease;
    }
    &:hover{
        transform: scale(1);

        &:after{
            border-color: #f58425;
        }
    }
    // &:hover{
    //  transition: border-color 0.3s;
    //  border-color: #f58323;
    // }
}

.slider__type_4__arrow_next{
    right: 0;

    &:after{
        transform: rotate(45deg);
        left:0;
    }
}
.slider__type_4__arrow_prev{
    left: 0;

    &:after{
        transform: rotate(-135deg);
        left: 24px;
    }
}
.project__popup__galry{
    max-width: 720px;
    margin: 0 auto;
    position: relative;
    padding: 24px 0;
}
.project__popup__galry__img__wrapper{
    overflow: hidden;
    height: 376px;
    display: flex;
    justify-content: flex-end;
}
.project__popup__galry__img__item{
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80px;
    width: 98px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.6s ease;
    

    &:hover{
        border-color: #0a283c;
    }
}
.project__popup__galry__img{
    display: flex;
    flex-direction: column;
    height: 99999px;
}
.project__popup__galry__img__item_1{
    background-image: url("../img/project_item_1.jpg");
}
.project__popup__galry__img__item_2{
    background-image: url("../img/dir_block_img_3.jpg");
}
.project__popup__galry__img__item_3{
    background-image: url("../img/dir_block_img_2.jpg");
}
.project__popup__galry__img__item_4{
    background-image: url("../img/project_item_1.jpg");
}
.project__popup__galry__img__item_5{
    background-image: url("../img/31397.jpg");
}
.project__popup__galry__img__item_6{
    background-image: url("../img/dir_block_img_2.jpg");
}
.project__popup__galry__img__window{
    background-color: #fff;
    max-width: 600px;
    width: 100%;
    margin-right: 20px;
    height: 422px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    div{
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
}
.project__popup__galry__arrow_top,
.project__popup__galry__arrow_btm{
    display: inline-block;
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    right: 43px;
    cursor: pointer;


    &:hover{

        &:after{
            width: 9px;
            height: 9px;
            border-color: #f58425;
        }
    }
    &:after{
        content: "";
        display: inline-block;
        border-bottom: 2px solid #8d9cad;
        border-left: 2px solid #8d9cad;
        width: 6px;
        height: 6px;
        border-radius: 2px;
        transform: rotate(-45deg);
        position: relative;
        top: -6px;
        left: 1px;
        transition: border-color 0.6s ease,
                    height 0.6s ease,
                    width 0.6s ease;
    }
}
.project__popup__galry__arrow_top{
    top: 5px;
    transform: rotate(180deg);
}
.project__popup__galry__arrow_btm{
    bottom: 11px;
}
.project__popup__galry__img__item--active__img{
    border-color: #f58425;
    pointer-events: none;
    cursor: default;
}
.slider__type_2__galry{
    display: none;
}
.media_galry__item__item_1{
    background-image: url("../img/project_item_1.jpg");
}
.media_galry{
    overflow: hidden;
    position: relative;
    margin: 0 auto;

    .slider__type_3__arrow{
        top: 89%;
    }
}
.media_galry__item__wrapper{
    margin: 20px 10px;
    width: 120px;
    height: 120px;
    cursor: pointer;
}
.media_galry__item{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    pointer-events: none;
    
}
.media_galry__active__image{
    width: 80%;
    height: 500px;
    margin: 0 auto;
}
.media_galry__window{
    width: 700px;
    margin: 0 auto;
}
.media_galry__item__item_2{
    background-image: url("../img/dir_block_img_3.jpg");
}
.media_galry__item__item_3{
    background-image: url("../img/dir_block_img_2.jpg");
}
.media_galry__item__item_4{
    background-image: url("../img/project_item_1.jpg");
}
.media_galry__item__item_5{
    background-image: url("../img/31397.jpg");
}
.media_galry__item__item_6{
    background-image: url("../img/dir_block_img_2.jpg");
}
.media_galry__item__item_7{
    background-image: url("../img/project_item_1.jpg");
}