
/*-------------------------------  validation ------------------------------------*/
.wForm { position: relative; }

.wForm .error { border-color: #EB4F1F !important; }

.wForm label { cursor: pointer; }

.wForm label.error { z-index: 3; position: absolute; top: 100%; left: 0; padding: 2px 8px; max-width: 100%; border: 1px solid #EB4F1F; text-align: center; font-size: 11px; line-height: 13px; background: #fff; -ms-transform: translateY(4px); -webkit-transform: translateY(4px); transform: translateY(4px); cursor: help; }

.wForm label.error:before, .wForm label.error:after { content: " "; position: absolute; bottom: 100%; left: 10%; width: 0; height: 0; border: solid transparent; pointer-events: none; }

.wForm label.error:before { border-color: rgba(235, 79, 31, 0); border-bottom-color: #EB4F1F; border-width: 5px; margin-left: -5px; }

.wForm label.error:after { border-color: rgba(255, 255, 255, 0); border-bottom-color: #fff; border-width: 4px; margin-left: -4px; }

.wFileVal, .wCheck, .wRadio { user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; }

/*-------------------------------  wFormDef  ------------------------------------*/
.wFormDef .wFormRow { cursor: default; position: relative; margin: 16px 0; }

.wFormDef .wFormRow:first-child { margin-top: 0; }

.wFormDef .wFormRow:last-child { margin-bottom: 0; }

.wFormDef .wFormInput { position: relative; display: block; margin-bottom: 12px; }

.wFormDef .wFormInput:last-child { margin-bottom: 0; }

.wFormDef .wLabel { display: block; text-transform: uppercase; padding: 5px 0; margin-left: 3px; }

.wFormDef .wInput, .wFormDef .wInputSpan, .wFormDef .wTextarea, .wFormDef .wSelect { box-sizing: border-box; display: block; width: 100%; padding: 12px; margin: 0; border: 1px solid #ccc; background-color: #fff; }

.wFormDef .wInput:hover, .wFormDef .wInputSpan:hover, .wFormDef .wTextarea:hover, .wFormDef .wSelect:hover { background: #f8f8f8; }

.wFormDef .wInput:focus, .wFormDef .wInputSpan:focus, .wFormDef .wTextarea:focus, .wFormDef .wSelect:focus { border-color: #5696D0; box-shadow: inset 0 0 0 1px #5696D0; }

.wFormDef .error.wInput, .wFormDef .error.wInputSpan, .wFormDef .error.wTextarea, .wFormDef .error.wSelect { background-color: #fdd; }

.wFormDef .error.wInput:focus, .wFormDef .error.wInputSpan:focus, .wFormDef .error.wTextarea:focus, .wFormDef .error.wSelect:focus, .wFormDef .wFile.error:active ~ .wFileVal, .wFormDef .wFile.error:focus ~ .wFileVal, .wFormDef .wFile.error:hover ~ .wFileVal { border-color: #EB4F1F; box-shadow: inset 0 0 0 1px #EB4F1F; }

.wFormDef .wInputSpan { background-color: transparent; min-height: 40px; line-height: 16px; }

.wFormDef .wTextarea { min-height: 120px; max-height: 320px; }

.wFormDef .wFileVal > span { display: block; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 100%; }

.wFormDef .wFileVal > span > ins { color: #999; text-decoration: none; font-style: italic; }

.wFormDef label.error:not([style$="none;"]) ~ .wFileVal { border-color: #EB4F1F; }

.wFormDef .wCheck, .wFormDef .wRadio { margin: 0 10px 8px 0; }

.wFormDef .wCheck span, .wFormDef .wRadio span { position: relative; display: inline; }

.wFormDef .wCheck ins, .wFormDef .wRadio ins { box-sizing: border-box; position: relative; text-decoration: none; height: 18px; width: 18px; border-radius: 3px; margin-right: 4.8px; background-color: #EB4F1F; box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 0 16px #fff; border: 1px solid #fff; transition: box-shadow .15s linear, border-color .15s linear; }

.wFormDef .wCheck, .wFormDef .wRadio, .wFormDef .wCheck span, .wFormDef .wRadio span, .wFormDef .wCheck ins, .wFormDef .wRadio ins { line-height: 18px; }

.wFormDef .wCheck, .wFormDef .wRadio, .wFormDef .wCheck ins, .wFormDef .wRadio ins { display: inline-block; vertical-align: top; }

.wFormDef .wFile, .wFormDef .wCheck input, .wFormDef .wRadio input { position: absolute; top: 0; left: 0; width: 1px; height: 1px; opacity: 0; pointer-events: none; }

.wFormDef .wCheck input:checked ~ ins, .wFormDef .wRadio input:checked ~ ins { box-shadow: inset 0 0 0 4px #fff; border-color: transparent; }

.wFormDef .wRadio ins { border-radius: 18px; }

.wFormDef .inpInfo { pointer-events: none; z-index: 2; position: absolute; top: 0; height: 0; overflow: hidden; right: 0; padding: 2px 6px; text-transform: uppercase; font-size: 9px; line-height: 12px; color: #fff; border-radius: 0 3px 0 3px; background: #5696D0; opacity: 0; transition: opacity .2s ease, height .2s ease; }

.wFormDef .wTextarea.error ~ .inpInfo, .wFormDef .wSelect.error ~ .inpInfo, .wFormDef .wInput.error ~ .inpInfo { background: #f00; }

.wFormDef .wTextarea:focus ~ .inpInfo, .wFormDef .wSelect:focus ~ .inpInfo, .wFormDef .wInput:focus ~ .inpInfo { height: 12px; opacity: 1; -webkit-transform: none; -ms-transform: none; transform: none; }

.wFormDef .wCaption { display: block; font-size: 12px; color: #999; font-style: italic; line-height: 14px; margin-bottom: 5px; }

.no-touch .wFormDef .wInput[type="number"], .no-touch .wFormDef .wInput[type="date"] { -moz-appearance: textfield; }

.no-touch .wFormDef .wInput[type="number"]::-webkit-outer-spin-button, .no-touch .wFormDef .wInput[type="number"]::-webkit-inner-spin-button, .no-touch .wFormDef .wInput[type="date"]::-webkit-outer-spin-button, .no-touch .wFormDef .wInput[type="date"]::-webkit-inner-spin-button { -moz-appearance: none; appearance: none; -webkit-appearance: none; }
@import "header";
@import "halpers";
@import "sliders";
@import "fonts";
@import "popups";
@import "footer";
@import "abus_page";
@import "contacts";
@import "service";
@import "projects";
.map_wrapper{
	margin-top: 100px;
	height: 100%;
    width: 100%;
    position: relative;
}
.map_block{
	padding-top: 26%;
    width: 100%;
    position: relative;
}
#gmap{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
body{
	font-family: 'helvetica';
}
img{
	vertical-align: top;
}
.page_sizer{
	padding: 0 10px;
	max-width: 1240px;
	margin: 0 auto;
	position: relative;
}
.page_sizer--exp{
	max-width: 950px;
}
.hamburger{
	display: none;
	position: fixed;
    left: 0;
    top: 14px;
    transition: left 4s ease;
}
// titles
.title__custom_1{
	font-size: 62px;
	font-weight: bold;
	line-height: 66px;
	font-family: 'helvetica';
}
.title__custom_2{
	font-size: 54px;
	font-family: 'helvetica_light';
}
.title__custom_3{
	font-size: 19px;
}
.title__custom_4{
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'helvetica';
}
.title__custom_5{
	font-size: 14px;
	line-height: 20px;
	font-family: 'helvetica_roman';
}
.wezome_logo{
	display: flex;
	align-items: flex-end;
    justify-content: flex-end;

	span{
		padding-right: 10px;
	}
}
// header items
.page_header__slider_wrapper{
	width: 100%;
}
// navmenu
.nav__wrapper{
	list-style-type: none;
	padding: 0;
	margin: 0;
    text-align: center;
}
.nav__item{
	display: inline-block;
	padding: 0 2%;
}
.nav__link{
	text-transform: uppercase;
	text-decoration: none;
	font-size: 15px;
	font-family: 'helvetica';
	font-weight: bold;
	border-bottom: 1px solid transparent;
	line-height: 26px;
	display: inline-block;
	transition: color 0.2s ease, border-color 0.5s ease-out;
	
	span{
		display: inline-block;
	    vertical-align: middle;
	    line-height: 80%;
	}
	&:hover{
		color: #f4892e;
		border-color: #f4892e;
	}
}


// feedback
.feedback__phones_wrapper{
	width: 155px;
	height: 24px;
	position: relative;
	z-index: 15;


	&:hover{
		.feedback__phones_box{
			opacity: 1;
			visibility: visible;
			transition: opacity 0.6s;
			z-index: 25;
		}
	}
	&:not(:hover){
		.feedback__phones_box{
			transition: opacity 0.6s;
			z-index: 0;
			visibility: hidden;
		}
	}
}
.feedback__phones{
	font-family: 'helvetica';
	font-weight: bold;
	border-bottom: none;
	z-index: 555;
	height: 24px;

	&:hover{
		.feedback__phones_box{
			transition: 0.6s;
		}
	}
	span{
	display: inline-block;
	}
}
.feedback__wrapper{
	padding: 0 11px;
	text-align: right;
	border-right: 1px solid #e8ebef;
	background-color: #fff;
	padding-top: 22px;
    min-width: 146px;
}
.feedback__to_open_popup{
	text-decoration: underline;
	font-size: 11px;
	cursor: pointer;
	font-family: 'helvetica_roman';
	position: relative;
	z-index: 25;
	display: inline-block;
}
.feedback__phones_box {
	position: relative;
	background: #ffffff;
	border: 2px solid #e8ebef;
	z-index: 555;
	width: 180px;
    text-align: center;
    padding: 10px 0;
    top: 33px;
    left: -94px;
    opacity: 0;

	span{
		display: block;
		margin-top: 6px;
	}
}
.feedback__phones_box:after, .feedback__phones_box:before {
	bottom: 100%;
	left: 64%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
}

.feedback__phones_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 30px;
	margin-left: -30px;
}
.feedback__phones_box:before {
	border-color: rgba(232, 235, 239, 0);
	border-bottom-color: #e8ebef;
	border-width: 31px;
	margin-left: -31px;
}



// lng menu
.lng_drop_menu{
	text-transform: uppercase;
}
.lng_drop_menu{
	width: 82px;
	height: 82px;
	background-color: #fff;
	z-index: 25;
}
.lng_drop_menu__selected{
	cursor: pointer;
	width: 100%;
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
    z-index: 25;

	&:before{
		content: "";
		display: inline-block;
		border-bottom: 2px solid #8d9cad;
		border-left: 2px solid #8d9cad;
		width: 6px;
		height: 6px;
		border-radius: 2px;
		transform: rotate(-45deg);
		position: relative;
	    top: -4px;
	    left: -6px;
	}
    &:hover{
    	background-color: #e8ebef;
    	transition: 0.6s;
    }
}
.lng_drop_menu__options{
	position: absolute;
	top: -164px;
	transition: top 1s ease;
	z-index: 15;
}
.lng_drop_menu__item{
	width: 82px;
	height: 82px;
	display: flex;
	align-items: center;
    justify-content: center;
    background-color: #fff;

    &:hover{
		cursor: pointer;
		background-color: #e8ebef;
		transition: 0.6s;
	}
}
.feedback__phones_box{
	ul{
		padding: 0;
		list-style-type: none;
	}
	li{
		padding: 5px 0;
	}
}
// direct_block
.direct__wrapper{
	background: url("../img/direct_bg_left.png") 0 0 no-repeat;
	margin-bottom: 70px;
}
.direct__block__blocks_wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 34px;
}
.direct__block__block{
	box-sizing: border-box;
	display: inline-block;
	margin: 9px 0;
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotate(0deg);
	// box-shadow: inset 0px 200px 264px -66px rgba(10, 40, 60, 0.8);
	transition: box-shadow 0.5s ease;
	
	&:after{
		background: linear-gradient(to bottom, rgba(10, 40, 60, 0.8), rgba(10, 40, 60, 0.3), rgba(10, 40, 60, 0.1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
		width: 100%;
		height: 100%;
		position: absolute;
		content: "";
		left: 0;
		top: 0;
		opacity: 1;
		transition: opacity 0.5s ease-in-out;
	}
	&:hover{
		cursor: pointer;
		box-shadow: 0px 0 27px -2px rgba(0, 0, 0, 0.8);
		
		&:after{
			opacity: 0;
		}
		.direct__block__block_icon{
			transition: border-color 1s ease,background-color 0.7s ease;
			background-color: #f58323;
			border-color: transparent;
		}
		._bottom_line--exp{

			&:after{
				width: 170px;
				transition: width 1s ease;
			}
		}
		.direct__block__block_list{
			opacity: 1;
			transition: opacity 0.5s ease-in-out;
		}
		&:before{
			opacity: 1;
		}
	}
	&:not(:hover){
		transition: box-shadow 0.5s ease;

		.direct__block__block_icon{
			transition: border-color 1s ease;
		}
		._bottom_line--exp{

			&:after{
				transition: width 0.5s ease;
			}
		}
		.direct__block__block_list{
			transition: opacity 0.5s ease;
		}
	}
	&:before{
		background-color: rgba(0, 119, 192, 0.8);
		width: 100%;
		height: 100%;
		position: absolute;
		content: "";
		left: 0;
		top: 0;
		opacity: 0;
		transition: opacity 0.5s ease-in-out;
	}
}
.slider__type_1__arrow_bottom{
	svg{
		transform: rotate(180deg);
	}
}
.direct__block__block--50{
	width: 49.3%;
	height: 380px;
	padding: 62px 0 0 52px;

	.direct__block__block_list{
		width: 72%;
	}
}
.direct__block__block--33{
	width: 32.33%;
	height: 360px;
	padding: 42px 0 0 46px;

	.direct__block__block_list{
		width: 60%;
	}
}
.direct__block__block_img1{
	background-image: url("../img/dir_block_img_5.jpg");
}
.direct__block__block_img2{
	background-image: url("../img/dir_block_img_1.jpg");
}
.direct__block__block_img3{
	background-image: url("../img/dir_block_img_2.jpg");
}
.direct__block__block_img4{
	background-image: url("../img/dir_block_img_3.jpg");
}
.direct__block__block_img5{
	background-image: url("../img/dir_block_img_4.jpg");
}
.direct__block__block__title{
	padding-bottom: 30px;
	z-index: 5;
}
.direct__block__block_icon{
	display: inline-flex;
	width: 100px;
	height: 100px;
	justify-content: center;
	align-items: center;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 100%;
	margin-top: 18px;
	vertical-align: top;
	position: relative;
	z-index: 5;
}
.direct__block__block_list{
	display: inline-block;
	font-size: 16px;
	font-family: 'helvetica_light';
	opacity: 0;
	position: relative;
	overflow: hidden;

	li{
		padding: 5px 0;
	}
}
.socs_block{
	display: inline-block;
	vertical-align: top;
}
.socs_block__fb,
.socs_block__utube{
	display: inline-block;
	width: 42px;
	height: 42px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: top;
	margin: 0 10px;
	
	svg{
	 fill: #fff;
	}
}
.socs_block__fb{
	svg{
	width: 16%;
	}
}
.socs_block__utube{
	svg{
	width: 38%;
	}
}
.mm-menu {
	.socs_block__fb,
	.socs_block__utube{
		background-color: #2d4055;
	     border: 1px solid black;
	}
}
// projects
.projects__wrapper{
	background-image: url("../img/projects_bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	min-height: 880px;
	background-position: 50%;
	margin-bottom: 36px;
	padding-top: 74px;
	padding-bottom: 64px;
	box-sizing: border-box;

	&:after{
		display: inline-block;
    	content: "";
    	position: absolute;
    	width: 60%;
    	bottom: 0;
    	left: 0;
    	z-index: 15;
    	border-bottom: 50px solid #fff;
    	border-right: 50px solid transparent;
	}
	&:before{
		display: inline-block;
    	content: "";
    	position: absolute;
    	width: 60%;
    	top: 0;
    	right: 0;
    	z-index: 15;
    	border-top: 50px solid #fff;
    	border-left: 50px solid transparent;
	}
}
.projects__wrapper__overlay{
	background-color: #0a283c;
	opacity: 0.9;
	position: absolute;
	width: 100%;
	height: 100%;
	display: inline-block;
	content: "";
	top: 0;
	left: 0;
}
.project__block__all_projects__link{
	display: inline-block;
	padding-right: 34px;
	position: relative;
	color: #f58425;
	font-weight: bold;
	font-family: 'helvetica';
	transition: color 0.4s ease;

	&:hover{
		color: #ffcb79;

		.project__block__all_projects__link__icon{
			background-color: #ffcb79;
		}
	}
}
.project__block__all_projects__link__icon{
	border-radius: 100%;
	width: 26px;
	height: 26px;
	background-color: #f58425;
	display: inline-block;
	position: absolute;
	top: -8px;
	right: 0;
	transition: background-color 0.4s ease;

	&:after{
		position: absolute;
		content: "";
		top: 8px;
    	right: 10px;
		width: 8px;
		height: 8px;
		border-top: 2px solid #2d4055;
		border-right: 2px solid #2d4055;
		transform: rotate(45deg);
	}
}
.project__block{
	z-index: 25;
}
.project__block__all_projects{
	text-align: right;
}
.project__block_text{
	padding: 20px 0;
	font-family: 'helvetica_light';
	font-size: 20px;
}
// about us block
.abus_block{
	text-align: center;
}
.abus_block__img_block__item{
	z-index: 15;
	flex: 1 1 auto;
	align-self: center;
	

	a{
		display: inline-block;
		text-decoration: none;
		position: relative;

		&:hover{

			.abus_block__img_block__item__img{
				opacity: 1;
				transition: border-color 1s ease,
					background-color 0.7s ease,
					opacity 0.5s ease;
			    background-color: #0077c0;
			    border-color: transparent;
			}
			.abus_block__img_block__arrow{
				opacity: 1;
				bottom: 65px;
				transition: bottom 0.5s ease,
					opacity 0.7s ease;
			}
		}
	}
}
.abus_block__img_block__item__img{
	display: inline-flex;
    width: 170px;
    height: 170px;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    margin-top: 18px;
    vertical-align: top;
    position: relative;
    opacity: 0.6;
	transition: border-color 1s ease,
				background-color 0.7s ease,
				opacity 0.5s ease;
	margin-bottom: 32px;
}
.abus_block__img_block__item__text{
	font-family: 'helvetica';
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 24px;
	width: 197px;
	overflow: hidden;
	word-wrap: break-word;
	max-height: 46px;
}
.date_icon,
.current_pr_ico{
	svg{
		vertical-align: bottom;
	}
}
.abus_block__title_block{
	padding-bottom: 24px;
	position: relative;
}
.abus_block__text_block{
	font-size: 16px;
	max-width: 922px;
	margin: 30px auto 50px auto;
	line-height: 26px;
	font-family: 'helvetica_roman';
}
.abus_block__img_block{
	display: flex;
	width: 100%;
	min-height: 420px;
	background-image: url("../img/abus_img.jpg");
	background-color: #2d4055;
	position: relative;
	justify-content: center;
    align-content: space-around;
    padding: 0 20%;
    box-sizing: border-box;

	&:after{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #0b293d;
		opacity: 0.4;
		content: "";
	}
}
.abus_block__img_block__arrow{
	position: absolute;
	content: "";
	bottom: 80px;
	left: 50%;
	margin-left: -25px;
	opacity: 0;
}

// logo, etc.
.iso_logo__wrapper{
	align-items: center;
    justify-content: center;
	width: 101px;
	height: 82px;
	display: flex;
}
._bottom_line{
	position: relative;

	&:after{
		content: "";
		display: inline-block;
		width: 100px;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: #e48425;
		position: absolute;
	}
}
._bottom_line--exp{

	&:after{
		width: 40px;
	}
}
._bottom_line--exp2{

	&:after{
		left: 50%;
		margin-left: -50px;
	}
}

// BTNS
.btn{
	line-height: 56px;
	padding: 0 52px;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	border-radius: 3px;
	outline: none;
	border: none;
	text-decoration: none;

	&:active{
		box-shadow: inset 0px 0 264px -66px rgba(10, 40, 60, 0.8);
	}
}
.btn--blue{
	background-color: #0077c0;

	&:hover{
		background-color: #1a8dd3;
		transition: background-color 0.6s, color 0.6s;
		color: #f4f4f4;
	}
	&:not(:hover){
		background-color: #0077c0;
		transition: background-color 0.6s, color 0.6s;
		color: #fff;
	}
}
.btn__more{
	display: inline-block !important;
	opacity: 1 !important;
}
.btn__close{
	width: 36px;
	height: 36px;
	border: 2px solid #8d9cad;
	border-radius: 100%;
	position: absolute;
	top: 14px;
	right: 14px;
	cursor: pointer;

	&:hover{
		transition: 0.6s;
		background-color: #8d9cad;

		&:before,
		&:after{
			transition: 0.5s;
			background-color: #fff;
		}
	}
	&:not(:hover){
		transition: 0.6s;

		&:before,
		&:after{
			transition: 0.5s;
		}
	}	
	&:before,
	&:after{
		position: absolute;
		width: 2px;
		height: 20px;
		content: "";
		display: inline-block;
		background-color: #8d9cad;
		top: 18px;
   		left: 18px;
		margin-left: -1px;
		margin-top: -10px;
	}
	&:before{
		transform: rotate(-45deg);
	}
	&:after{
		transform: rotate(45deg);
	}
}

// contact us block
.contact_us_parent_block{
	background-image: url("../img/aes_full_image.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	flex-direction: column;
}
.contact_us_block_1{
	min-height: 486px;
	width: 100%;
	margin-top: 62px;
}
.contact_us_block_1__content_wrapper{
	display: flex;
	align-content: space-between;
	min-height: 486px;
	justify-content: center;
}
.abus_block__img_block__item__img--quostil2{
	svg{
		top: 21px;
	}
	
}
.contact_us_block_1__content_block__img_wrapper{

	img{
		width: initial;
	}
}
.contact_us_block_1__content_block__num_wrapper{
	font-size: 48px;
	font-family: 'helvetica';
	font-weight: bold;
	width: 136px;
	height: 136px;
	display: flex;
	align-items: center;
    justify-content: center;
    position: relative;
	margin: 0 auto;
	border: 2px solid #0077c0;
	border-radius: 100%;

	span{
		position: relative;
	}
}
.contact_us_block_1__content_block__num_animation_box{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	animation-fill-mode: forwards;
	top: 0;
	left: 0;
	

	&:after{
		position: absolute;
		display: inline-block;
		content: "";
		width: 17px;
		height: 17px;
		background-color: #f58425;
		border-radius: 100%;
		border: 2px solid #fff;
		top: -11px;
    	left: 56px;
	}
}

.contact_us_block_1__content_block{
	flex: 1 1 auto;
	text-align: center;
}
.contact_us_block_1__content_block__text{
	font-size: 20px;
	font-family: 'helvetica_light';
	width: 290px;
	margin: 51px auto 35px auto;
	word-wrap: break-word;
    max-height: 65px;
    overflow: hidden;
}


.contact_us_block_2{
	min-height: 625px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact_us_block_2__content{
	width: 420px;
	text-align: center;
}
.contact_us_block_2__content__text{
	margin: 32px 0;
	font-size: 20px;
	line-height: 28px;
	font-family: 'helvetica_roman';
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
.contact_us_block_2__content__gerb_wrapper{

	img{
		width: initial;
	}
}




// JS
.js__lng_drop_menu--ua{

	.lng_drop_menu__item{
		transform: translate(0, -82px);
	}
	
}
.js__hidden{
	display: none;
}
.js__show{
	opacity: 1 !important;
}
.js__animation__fadeIn--pre{
	opacity: 0;
	transition: 0;
}
.js__animation__fadeIn{
	opacity: 1;
	transition: opacity 0.8s ease-out;
}
.js__animation__fadeOut{
	opacity: 0;
	transition: opacity 0.8s ease-out;
}
.js_iftouch{
	&:before{
		opacity: 1 !important;
	}
	.direct__block__block_list{
		opacity: 1;
	}
	._bottom_line--exp{
		&:after{
		width: 170px;
		}
	}
	.direct__block__block{
		&:before{
			opacity: 1;
		}
	}
	.direct__block__block_icon{
	    background-color: #f58323;
    	border-color: transparent;
	}
}
.mm-menu{
    background-color: #fff !important;
}
.error{
	border-color: red !important;
}
.mm-panel{
	.nav__link{
		font-size: 13px;
	}
}
.overlay__plus{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 2px solid rgba(255, 255, 255, 0.4);
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	z-index: 25;
	opacity: 0;
	transition: opacity 0.6s ease-out;

	&:before{
		position: absolute;
		content: "";
		left: 50%;
		top: 50%;
		background-color: #fff;
		height: 50px;
		width: 2px;
		margin-top: -25px;
	}
	&:after{
		position: absolute;
		content: "";
		left: 50%;
		top: 50%;
		margin-left: -25px;
		background-color: #fff;
		height: 2px;
		width: 50px;
	}
}
.animation{

	.contact_us_block_1__content_block__num_animation_box--1{
		animation: rotate_type1 2s linear infinite;
		animation-iteration-count: 1;
	    animation-fill-mode: forwards;
	}
	.contact_us_block_1__content_block__num_animation_box--2{
		animation: rotate_type2 2s linear infinite;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}
	.contact_us_block_1__content_block__num_animation_box--3{
		animation: rotate_type3 2s linear infinite;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}
}


.numbers__wrapper{
	display: flex;
	margin: 50px 0;

	div{
		text-align: center;
		font-size: 55px;
		width: 33.33%;
	}
}
.name-error,
.phone-error,
.mail-error{
	position: absolute;
}
.arrow_to_bot{
	display: inline-block;
	position: absolute;
	content: "";
	width: 12px;
	height: 12px;
	left: -4px;
	top: 0;

	&:after{
		content: "";
		display: inline-block;
		border-bottom: 2px solid #8d9cad;
		border-left: 2px solid #8d9cad;
		width: 6px;
		height: 6px;
		border-radius: 2px;
		transform: rotate(-45deg);
		position: relative;
	    top: -4px;
	    left: -6px;
	}
}

.lng_drop_menu__selected_now{
    background-color: #e8ebef;
}
.mm-menu .mm-navbar a, .mm-menu .mm-navbar>* {
    color: initial;
}
.mm-navbar-bottom{
	display: flex;
	justify-content: center;
}

@keyframes rotate_type1 {
  0%{
  	transform: rotate(0deg);
  }
  100%{
  	transform: rotate(1130deg);
  }
}
@keyframes rotate_type2 {
  0%{
  	transform: rotate(0deg);
  }
  100%{
  	transform: rotate(671deg);
  }
}
@keyframes rotate_type3 {
  0%{
  	transform: rotate(0deg);
  }
  100%{
  	transform: rotate(490deg);
  }
}


.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 



	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}
._no_flex{
	display: block;
}
@import "media";

.hide_on_landing{
	display: none !important;
}
.landing_abus_popup{
	background-color: #fff;
	width: 80%;
	padding: 10px 20px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}
.slider__type_2__item--landing_exp{
	pointer-events: none;
}

/*landing*/
.lng--landing:nth-child(1){
  width: 100%;
}
.lng--landing:nth-child(2),
.lng--landing:nth-child(3){
      display: none !important;
      visibility: none;
}
.disable_links__landing{
   pointer-events: none;
   cursor: default;
}
.mmenufixedcrox {
    position: fixed;
    left: 17px;
    top: 20px;
    width: 32px;
    height: 32px;
    opacity: 1;
    border-radius: 0px;
    display: none;
}
.mmenufixedcrox:hover {
  opacity: 1;
}
.mmenufixedcrox:before, .mmenufixedcrox:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 38px;
    width: 5px;
    background-color: #000;
    border-radius: 11px;
}
.mmenufixedcrox:before {
  transform: rotate(45deg);
}
.mmenufixedcrox:after {
  transform: rotate(-45deg);
}